<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13898262596-pbgr63hm6pso2tqcut23fd07e4pefjkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13898262596-pbgr63hm6pso2tqcut23fd07e4pefjkq</string>
	<key>API_KEY</key>
	<string>AIzaSyBvepiurQzaZeJh5Aw5CgpHQDAP6KlOeTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>13898262596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cloudveil.CloudVeilMessenger</string>
	<key>PROJECT_ID</key>
	<string>cloudveil-messenger-f5339</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudveil-messenger-f5339.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13898262596:ios:de0324ec3c1e85a7ab7411</string>
	<key>DATABASE_URL</key>
	<string>https://cloudveil-messenger-f5339.firebaseio.com</string>
</dict>
</plist>